---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BaseListLayout from '../../components/BaseListLayout.vue';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('blog');
  const tags = [...new Set(allPosts.map(post => post.data.tags).flat())].filter(Boolean);

  return tags.map(tag => {
    const filteredPosts = allPosts.filter(post => post.data.tags && post.data.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts.sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()) },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={`Posts tagged with "${tag}"`}>
  <main class="container py-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="text-center mb-4">Posts tagged with "{tag}"</h1>
        <ClientOnly>
          <BaseListLayout :pages={posts} />
        </ClientOnly>
      </div>
    </div>
  </main>
</BaseLayout>
